@import 'yoga';
@import 'normalize';
$fa-font-path: 'maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('/background-40.jpg');
}

.border-top {
  background-color: rgba(9,52,87,1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  padding: 0;
}

.title {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 4em;
  text-align: center;
}

h1 {
  margin-bottom: none;
}

.subtitle {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.control {
  background: white;
  // display: flex;
  // flex-direction: column;
  padding: 0 20px;
}

.grid {
  // display: flex;
  // flex-wrap: wrap-reverse;
  // margin: -1rem;
}

// .form-body--left {
//   display: grid;
//
//   }

.form-body--right {
  display: grid;
}

.grid__item {
  border-bottom: 1rem;
  display: flex;
  flex-basis: calc(100% / 3 - 1rem - 1rem);
  flex-grow: 1;
  margin: 3rem;
}

.form-body {
  border-bottom: 1rem;
  // display: flex;
  // flex-basis: calc(100% / 3 - 1rem - 1rem);
  flex-grow: 1;
  justify-content: center;
  background-color: white;
}

.form-body_input {
  padding: 0;
  display: flex;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.label {
  padding: 1rem;
  color: black;
  padding: 0;
}

.button {
  background-color: rgba(109, 194, 190, 1);
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding: 0.2rem;
  display: inline-block;
}

.input {
  background: white;
  width: auto;
}
