@import 'yoga';
@import 'normalize';
$fa-font-path: 'maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('/img/background-40.jpg');
  margin: 0;
}


.border-top {
  background-color: rgba(1,49,89,1);
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5rem;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4em;
  color: white;
}

h1 {
  margin-bottom:none;
}

.subtitle {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.control {
  background: white;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.form-body--left {

}

.grid__item {
  // margin: 5rem;
  // display: flex;
  // justify-content: center;
  background-color: white;
  display: flex;
  flex-basis: calc(100% / 3 - 1rem - 1rem);
  flex-grow: 1;
  margin: 3rem;
  border-bottom: 1rem;
}

.form-body {
display: flex;
flex-basis: calc(100% / 3 - 1rem - 1rem);
flex-grow: 1;
margin: 0;
border-bottom: 1rem;
justify-content: center;
}

.label {
  background-color: white;
  padding: 1rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(109, 194, 190, 1);
  padding: 0.5rem;
}

.input {
  background: white;
  width: auto;
}
