@import 'yoga';
@import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

* {
  background-color: teal;

}

.border-top {
  background-color: rgba(70,22,255,1);
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4em;
  color: white;
}

.subtitle {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.form {}
